@import "src/assets/css/global"
.tab
  &__component
    display: flex
    flex-direction: column
    border: 1px solid $black-light
    height: calc(100vh - 325px)
    max-height: 1000px
    box-shadow: 0 5px 10px $black-light
    overflow-x: hidden
    position: relative
  &__btn
    width: 100%
    max-width: 100px
    color: azure
    background-color: $primary
    border: 1px solid $primary
    border-radius: 5px
    &:not(first-child)
      margin-right: 3px
    &:active,
    &:focus
      outline: none
    &:hover
     background-color: $primary-light
    &:focus
      border: 1px solid $primary
      background-color: $primary-success
    &--active
      border: 1px solid $primary
      background-color: $primary-success
      &:hover
        background-color: $primary-light
.tabs
  display: flex
  height: 40px
  margin-bottom: 3px
  &__container
    display: flex
    flex-direction: column
    max-width: 650px

